modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_openai_ai_integrations:1.0.0", "javascript_database:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["unzip"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "ComptaOrion"

[[workflows.workflow]]
name = "ComptaOrion"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000
exposeLocalhost = true

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 36297
externalPort = 3001

[[ports]]
localPort = 39185
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["bash", "start.sh"]

[userenv]

[userenv.shared]
JWT_SECRET = "orion_production_jwt_secret_2025_ultra_securise_change_me"
JWT_REFRESH_SECRET = "orion_production_refresh_secret_2025_ultra_securise_change_me"
